.nav-month-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  padding: 0.7em;
  background: var(--blue-dark-0);
}

.change-date {
  display: flex;
  flex-direction: row;
}

.change-date b {
  margin-right: 6px;
}

.change-date span {
  cursor: pointer;
  margin-right: 6px;
  color: blue;
  text-decoration: underline;
}

.change-date span::after {
  content: ",";
}

.change-date span:last-child::after {
  content: "";
}

.absent-tile {
  background-color: var(--red) !important;
  color: var(--primary-fg) !important;
}

.present-tile {
  background-color: var(--green) !important;
  color: var(--primary-fg) !important;
}

.leave-tile {
  background: var(--leave) !important;
}
